.img-container {
    float: left;
}
.room img {
    width: 100%;
}
.room {
    float: left;
    width: calc(25% - 10px);;
    padding: 5px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.header .logo {
    background-color: #2C3650;
    color: white;
}
.header .site-header {
    text-align: center;
    background-color: #E5E5E5;
    box-shadow: 0 0 4px black;
    padding-top: 4px;
    padding-bottom: 4px;
}
.header .logo-circle {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-top: 3px;
    margin-left: 1px;
    border: white;
    border-style: solid;
    border-width: 2px;
}
.header .text-in-circle {
    position: absolute;
    margin-left: 6px;
    margin-top: 2px;
}
.header .text-in-logo {
    top: 8px;
    position: absolute;
    left: 31px;
}

/* extra small devices - 1 rooms*/
@media only screen and (max-width: 330px) {
    .room {
        width: calc(100% - 10px);;
    }
}
/* small devices - 2 rooms*/
@media only screen and (min-width: 330px) {
    .room {
        width: calc(50% - 10px);;
    }
}
 /* Ipads devices and larger - 3 rooms will be displayed */
@media screen and (min-width: 768px) {
    .room {
      width: calc((100% / 3) - 10px);;
    }
}
  
/* Desktop devices, laptops and larger - 4 rooms will be displayed */
@media screen and (min-width: 992px) {
    .room {
      width: calc(25% - 10px);;
    }
}

